.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img {
  margin-top: 120px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 70px;
  line-height: 1.1em;
  font-weight: 600;
}
.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  width: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-action a {
  text-decoration: none;
  color: #fff;
}
.hero-connect {
  padding: 20px 45px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.hero-resume {
  padding: 20px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid white;
  transition: all 0.1s;
}
.hero-resume:hover {
  border-color: #b415ff;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  .hero h1 {
    margin-top: 20px;
    width: 90%;
    font-size: 50px;
  }
  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0;
  }
  .hero-action {
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
