@import "tailwindcss";
@theme {
  --color-lighthover: "#fcf4ff";
  --color-daekhover: "#2a004a";
  --color-darktheme: "#11001F";
  --boxShadow-black: "4px 4px 0 #000";
  --boxShadow-white: "4px 4px 0 #fff";
  --gridTemplateColumns-auto: "repeat(auto-fit,minmax(200px,1fr))";
  --darkmode: "selector";
}
* {
  font-family: Outfit;
}
